@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Nunito+Sans:wght@300;400;600;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    border-bottom: 1.5px solid #dbdbdb;
    margin-bottom: 2rem;
}

.search{
    display: flex;
    align-items: center;
    gap: 0.4rem; 
    background-color: #efefef;
    padding: 0.6rem 0.7rem;
    border-radius: 10px;
}

.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #8e8e8e;
    border: none;
    outline: none;
}

.search input[type=text]::placeholder{
    color: #8e8e8e;
}

.search input[type=text]{
    border: none;
    color: black;
    background: none;
    height: 1.2rem;
    font-size: 1rem;
}

.search input[type=text]:focus{
    border: none;
    outline: none;
}

.links{
    display: flex;
    gap: 20px;
    cursor: pointer;
}

/* Dropdown */
.tooltip{
    font-size: 24px;
    color: black;
}

.nav-link{
    cursor: pointer;
    color: hsl(33, 44%, 5%);
}

.nav-link-btn{
    background: rgba(0,0,0,0.4);
    padding: 0.3rem;
    color:white;
    background-color: hsl(204, 96%, 49%);
    border-radius: 5px;
}

.dropdown-menu.items{
    display: grid;
    gap: 10px;
}
.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: 1rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    z-index: 100;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.dropdown.active > .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}