{% extends 'main.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}
    
{% block content %}

<div class="posts">
    {% for post in posts %}
        <div class="post-wrapper">
            <div class="header">
                <div class="side-item">
                    <div class="account-name">
                        <a href="{% url 'profile' post.author.user_profile.id %}">{{ post.author.user_profile }}</a>
                    </div>
                    <i class='bx bx-dots-horizontal-rounded'></i>
                </div>
            </div>
            <img src="{{ post.image.url }}" alt="">
            <div class="footer">
                <div class="edits side-item">
                    <div class="edits-header">
                        <form action="{% url 'like-post' post.id %}">
                            {% csrf_token %}
                            <button type="submit" class="like-post-btn" method="GET">
                                <i class='bx bx-heart tooltip-like'></i>
                            </button>
                        </form>
                        <i class='bx bx-message-rounded-dots bx-flip-horizontal'></i>
                    </div>
                    <p class="likes count">{{ post.likes.count }} likes </p>
                    {% if request.user == post.author.user_profile %}
                    <div class="edits-footer">
                        <a href="{% url 'update-post' post.id %}"><i class='bx bxs-edit'></i></a>
                        <a href="{% url 'delete-post' post.id %}"><i class='bx bx-trash-alt'></i></a>
                    </div>
                    {% endif %}
                </div>
                <div class="caption">
                    <span class="account-name">
                        <a href="{% url 'profile' post.author.user_profile.id %}">{{ post.author.user_profile }}</a>
                    </span>
                    <span class="caption-message">{{ post.caption }}</span> 
                </div>
            </div>
            <div class="comments">
                {% for comment in post.comments.all %}
                    <div class="comment-wrapper">
                        <span class="comment-user">{{ comment.user.username }}</span>
                        <span>{{ comment.body }}</span>
                    </div>
                {% endfor %}
                <form class="comment-form" action="{% url 'create-comment' post.id %}" method="POST">
                    {% csrf_token %}
                    <div class="smile">
                        <i class='bx bx-smile'></i>
                    </div>
                    <input type="text" name="comment" class="form-comment-input" placeholder="Add a Comment...">
                    <input type="submit" value="Post" class="submit submit-comment">
                </form>
            </div>
        </div>
    {% endfor %}  
</div>  
    
{% endblock %}