{% extends 'main.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content%}

<h5>
    <div class="profile">
        <img src="" alt="">
        <div class="count">
            <p> posts {{ posts.count }}</p>
            <a href="{% url 'follow' user.id %}">
                <button>Follow</button>
            </a>
            <p> followers {{ followers.count }}</p>
            <p> following {{ following.count }}</p>
        </div>
        {% for follower in followers %}
        <h6> followers {{ follower }}</h6>
        {% endfor %}

        {% for follower in following %}
        <h6> following {{ follower }}</h6>
        {% endfor %}
    </div>
    <div class="info">
        <h3> name {{ user.user_profile.username }}</h3>
    </div>
    <div class="edit-profile">

    </div>
    <div class="posts">
        {% for post in posts %}
        <img src="{{ post.image.url }}" alt="{{ post.image_name }}">
        <h5>{{ post.caption }}</h5>
        <a href="{% url 'profile' post.author.user_profile.id %}">{{ post.author.user_profile }}</a>
        <div class="edits">
            {% if request.user == post.author.user_profile %}
            <a href="{% url 'update-post' post.id %}">Update Post</a>
            <a href="{% url 'delete-post' post.id %}">Delete Post</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</h5>

{% endblock %}