{% extends 'main.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}

{% block content%}

<div class="container">
    <div class="profile">
        <div class="image">
            <img class="profile-photo" src="{{ user.profile_photo.url }}" alt="{{ user.user_profile.username }}'s profile photo">
            <div class="user-name">{{ user.user_profile.username }}</div>
        </div>
        <div class="user-details">
            
            <div class="user-counter">
                <div class="posts-no item">
                    <span>{{ posts.count }}</span>
                    <span>posts </span>   
                </div>
                <div class="followers item">
                    <span>{{ followers.count }}</span>
                    <span>followers </span>
                </div>
                <div class="following item">
                    <span>{{ following.count }}</span>
                    <span>following</span>
                </div>
            </div>
            <div class="profile-btns">
                {% if request.user.id == user.id %}
                <a href="{% url 'follow' user.id %}">
                    <button class="profile-btn edit-btn">Edit Profile</button>
                </a>
                {% else %}
                <a href="{% url 'follow' user.id %}">
                    <button class="profile-btn follow-btn">Follow</button>
                </a>
                {% endif %}
            </div>
        </div>      
    </div>
    <div class="posts-wrapper">
        <div class="posts">
            {% for post in posts %}
                <div class="image-wrapper">
                    <img  class='post-image'src="{{ post.image.url }}" alt="{{ post.image_name }}">
                </div>  
            {% endfor %}
        </div>   
    </div>
</div>
{% endblock %}